@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");
.navbar {
		color: rgba(255, 255, 255, 0);
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 200;
		line-height: 1.65;
		background-color:#7beb5b;
		z-index:7;
		font-size:30px;
	}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7beb5b;
}

.navbar li {
    float: left;
}

.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #219400;
}

.navbar li.dropdown {
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover {background-color: #f1f1f1}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .line-separator {
    height:1px;
    background: #CFCFCF;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom:1px solid #CFCFCF;
}
